* {
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

ul#MyList li {
    display: inline-block;
    list-style-type: none;
}

ul#MyList li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
}

ul#MyList li a:hover {
    background-color: rgb(17, 138, 17);
}

.content {
    padding-top: 60px;
    padding-left: 10px;
}
